.trailer-body {
    background-color: $c-black;

    .gs-container {
        height: 300px;

        @include mq(desktop) {
            display: flex;
        }
    }
}

.trailer-body__list {
    position: relative;
    margin: 0;
    padding: 0;
    padding-top: 12px;
    list-style: none;

    @include mq(desktop) {
        width: $trailer-width-desktop;
        margin-right: 20px;
    }
}

.trailer-body__list--prev,
.trailer-body__list--next {
    display: none;

    @include mq(desktop) {
        width: 140px;
        display: block;
    }

    @include mq(wide) {
        width: 220px;
    }

    .trailer-info__title {
        color: $c-grey;
    }

    .trailer-info__description,
    .trailer-info__share {
        display: none;
    }
}

.trailer-body__list--next {
    margin-right: 0;
}

.trailer-body__item {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    // transition: opacity .15s ease-in;
}

.trailer-info__status {
    color: $c-yellow;
    font-family: $f-sans-serif-text;
    font-size: 0.875em;
    line-height: 1.4;
    margin-bottom: 0;
}

.trailer-info__title {
    color: $c-white;
    font-size: 1.75em;
    font-family: $f-serif-headline;
    font-weight: 900;
    line-height: 1;
}

.trailer-info__description {
    max-width: 600px;
    line-height: 1.4;
    margin-bottom: 1em;
    color: darken($c-white, 20%);
    font-family: $f-serif-text;
}

.trailer-info__share__item {
    margin-right: 6px;

    &:hover {
        opacity: .8;
    }
}
