@for $i from 0 through 20 {
    .current--#{$i} {
        .trailer-body__item--#{$i} {
            display: block;
        }

        .trailer-playlist {
            transform: translateX($i * -$trailer-width);
            
            @include mq(desktop) {
                transform: translateX($i * -$trailer-width-desktop);
            }
        }
    }
}