@keyframes nextFade {
    0% {
        opacity: 0;
        transform: translateX(10px);
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes prevFade {
    0% {
        opacity: 0;
        transform: translateX(-10px);
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: translateX(0px);
    }
}

@for $i from 0 through 19 {
    .current--#{$i} {
        .trailer-body__list--main .trailer-body__item--#{$i},
        .trailer-body__list--prev .trailer-body__item--#{$i - 1},
        .trailer-body__list--next .trailer-body__item--#{$i + 1} {
            opacity: 1;
        }

        &.next {
            .trailer-body__list--main .trailer-body__item--#{$i},
            .trailer-body__list--prev .trailer-body__item--#{$i - 1},
            .trailer-body__list--next .trailer-body__item--#{$i + 1} {
                animation: nextFade 0.3s ease-out;
            }
        }

        &.prev {
            .trailer-body__list--main .trailer-body__item--#{$i},
            .trailer-body__list--prev .trailer-body__item--#{$i - 1},
            .trailer-body__list--next .trailer-body__item--#{$i + 1} {
                animation: prevFade 0.3s ease-out;
            }
        }

        .trailer-playlist__item--#{$i} {
            opacity: 1;
        }

        .trailer-playlist {
            transform: translateX($i * -$trailer-width);

            @include mq(desktop) {
                transform: translateX($i * -$trailer-width-desktop);
            }
        }
    }
}

.current--0 {
    .trailer-video__button--prev {
        display: none;
    }

    .trailer-body__list--prev {
        opacity: 0;
    }
}

.current--19 {
    .trailer-video__button--next, {
        display: none;
    }

    .trailer-body__list--next {
        opacity: 0;
    }
}
