.trailer-video {
    background-color: #222;

    .gs-container {
        padding: 0;
        overflow: hidden;
    }
}

.trailer-playlist {
    margin: 0;
    white-space: nowrap;
    line-height: 0;
    transition: transform .3s ease-in;
}

.trailer-playlist__item {
    position: relative;
    padding-bottom: $trailer-width / 16 * 9;
    padding-top: 25px;
    height: 0;
    white-space: normal;
    display: inline-block;
    width: $trailer-width;
    margin: 0;
    background-size: cover;
    opacity: 0.2;
    cursor: pointer;
    transition: opacity .3s ease-in;

    @include mq(desktop) {
        width: $trailer-width-desktop;
        padding-bottom: $trailer-width-desktop / 16 * 9;
    }

    &:hover {
        opacity: 0.8;

        .trailer-playlist__button {
            background-color: $c-yellow;

            .trailer-playlist__button__icon {
                fill: $c-black;
            }
        }
    }

    &.trailer-playlist__item--0 {
        margin-left: 15%;

        @include mq(desktop) {
            margin-left: 100px;
        }

        @include mq(leftCol) {
            margin-left: 180px;
        }

        @include mq(wide) {
            margin-left: 260px;
        }
    }

    @keyframes iframeFade {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 400;
        backface-visibility: hidden;
        animation: iframeFade 0.5s ease-in;
    }
}

.trailer-video__button {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 15%;
    cursor: pointer;

    @include mq(desktop) {
        width: 100px;
    }

    @include mq(leftCol) {
        width: 180px;
    }

    @include mq(wide) {
        width: 260px;
    }

    .trailer-video__button__icon {
        fill: $c-yellow;
        width: 20px;
        height: 20px;
        padding: 6px;
        border: 1px solid $c-yellow;
        border-radius: 50%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }

    &.trailer-video__button--prev {
        left: 0;

        .trailer-video__button__icon {
            @include mq(desktop) {
                left: -40px;
            }

            @include mq(leftCol) {
                left: -120px;
            }

            @include mq(wide) {
                left: -200px;
            }
        }
    }

    &.trailer-video__button--next {
        right: 0;

        .trailer-video__button__icon {
            @include mq(desktop) {
                left: 40px;
            }

            @include mq(leftCol) {
                left: 120px;
            }

            @include mq(wide) {
                left: 200px;
            }
        }
    }

    &.trailer-video__button--prev,
    &.trailer-video__button--next {
        &:hover {
            .trailer-video__button__icon {
                background-color: $c-yellow;
                fill: $c-black;
            }
        }
    }
}

.trailer-playlist__button {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.8);

    .trailer-playlist__button__icon {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        fill: $c-white;
        width: 24px;
        height: 24px;
    }
}
